.r5m-content h2 {
  margin-bottom: 30px;
  line-height: 2rem;
  text-decoration: underline;
  text-align: left;
  color: #2b2a29;
}

.r5m-content p {
  margin-bottom: 30px;
}

.r5m-content p:last-of-type {
  text-indent: 0;
}
