.companies-container {
  float: left;
  width: 280px;
}

.companies {
  margin: 0;
  padding: 0;
  list-style: none;
  background-image: url("../images/companies_menu.png");
  background-size: cover;
  border: 2px solid #dbdbdb;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.companies__title {
  padding: 12px 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #dadada;
  border-bottom: 3px solid #dbdbdb;
}

.companies__link {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: #dadada;
}

.companies__link:hover {
  background-color: #ffffff;
  color: #383838;
}
