.footer {
  background-color: #252525;
  color: #fefefe;
}

.footer-container {
  padding-top: 15px;
}

.footer__contacts-title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 35px;
  font-weight: normal;
  text-transform: uppercase;
  background-image: url("../images/contacts_icon.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.footer__contacts {
  display: block;
  margin: 0;
  text-align: left;
}

.contacts_common {
  margin-bottom: 20px;
}

.contacts__name,
.contacts__email,
.contacts__phone {
  display: inline-block;
  width: 220px;
  text-align: left;
}

.footer__contacts-group {
  margin-bottom: 30px;
  padding: 0;
}

.footer__copyright {
  padding: 15px 0;
  text-align: center;
  background-color: #9C241D;
}

.footer__copyright-text {
  margin: 0;
}
