.header {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: #fefefe;
  background-image: url("../images/header_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  padding-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__logo {
  float: left;
  margin-left: 52.5px;
  width: 175px;
}

.header-wrapper {
  float: right;
  width: 75%;
  margin-bottom: 10px;
}

.header-wrapper_top,
 .header-wrapper_bottom {
  position: relative;
}

.header__headline-container_main,
.header__headline-container_sub {
  float: left;
  width: 66.7%;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__headline-container_main {
  position: relative;
  padding: 30px 30px 0 30px;
}

.header__headline-container_sub {
  margin-top: 50px;
}

.corner-border {
  position: absolute;
  width: 30px;
  height: 30px;
}

.corner-border_top {
  top:0;
  border-top: 1px solid #fefefe;
}
.corner-border_left {
  left: 0;
  border-left: 1px solid #fefefe;
}
.corner-border_right {
  right: 0;
  border-right: 1px solid #fefefe;
}
.corner-border_bottom {
  bottom:0;
  border-bottom: 1px solid #fefefe;
}

.header__headline,
.header__headline_sub,
.header__subheadline {
  margin: 0;
  padding: 0;
}

.header__headline {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}

.header__headline_sub {
  font-family: "Arial", sans-serif;
  font-size: 1.3rem;
}

.header__subheadline {
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;

}

.header__feedback {
  width: 240px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback__details-container {
  position: absolute;
  top: 0;
  right: 0;
}

.feedback__buttons-container {
  float: right;
  text-align: right;
}

.feedback__text {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
}

.feedback__text_small {
  font-weight: normal;
}

.feedback__phone {
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}

.feedback__workhours {
  margin-top: 5px;
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  margin-top: 10px;
  padding: 5px 15px;
  min-width: 200px;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  color: #fefefe;
  text-transform: uppercase;
  /*background-color: rgba(225,225,225,0.5);*/
  /*background-color: #fefefe;*/
  background: none transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: solid 1px #fefefe;
}

.button:hover {
  background-color: #fefefe;
  color: #252525;
}

.button_call {
  background-image: url("../images/call-1.png");
  background-repeat: no-repeat;
  background-position: 11px 50%;
  background-size: auto 15px;
}

.button_request {
  background-image: url("../images/headset-1.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: auto 15px;
}

.button_request:hover {
  background-image: url("../images/headset-0.png");
}

.button_call:hover {
  background-image: url("../images/call-0.png");
}

.button__label {
  margin-left: 20px;
}

.button:hover {
  cursor: pointer;
}
