.r5m-content,
.r5m-content__extension {
  margin: 0;
  margin-left: 330px;
  padding: 0;
  color: #2b2a29;
}

.r5m-content h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #9c241d;
}

.r5m-content p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1rem;
  text-indent: 15px;
}

.r5m-content__extension {
  text-align: center;
}

.extension__header {
  margin: 0 40px 10px 40px;
  font-size: 1.1rem;
  color: #9c241d;
}

.extension__text {
  margin: 10px 0;
  font-size: 1rem;
}

.extension__conclusion {
  margin: 15px 0;
  padding: 0;
  font-size: 1.3rem;
}

.extension__link {
  display: block;
  width: 170px;
  padding: 15px 20px;
  margin: 15px auto;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #9c241d;
  border-radius: 15px;
  /*border-bottom: 2px dotted #9c241d;*/
}

.extension__picture {
  width: 80%;
  margin: 0 auto;
}
