.body-container {
  margin-bottom: 10px;
}

.main-section {
  margin-left: 27%;
  margin-right: 2%;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.main-section__jobtype {
  display: inline-block;
  width: 32%;
  margin: 0;
  margin-bottom: 20px;
}

.jobtype {
  padding: 0 15px 30px 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  vertical-align: top;
}

.jobtype__link {
  text-decoration: none;
  color: #2b2a29;
}

.jobtype__picture {
  width: 100%;
  margin-bottom: 10px;
}

.jobtype__name {
  text-transform: uppercase;
}
