.navigation_container {
  clear: both;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #252525;
}

.r5mMenu {
  margin-top: 15px;
}

.r5mMenu__main {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  list-style: none;
  text-align: center;
}

.r5mMenu__main__item {
  position: relative;
  display: inline-block;
}

.r5mMenu__main__item__link,
.r5mMenu__main__submenu__item__link {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.r5mMenu__main__item__link {
  padding: 10px 25px;
  color: #dadada;
}

.r5mMenu__main__item__link:hover,
.r5mMenu__main__submenu__item__link:hover {
  color: #fefefe;
}

.menu__link_submenu {
  background-image: url("../images/menu_arrow.png");
  background-repeat: no-repeat;
  background-position: 94% 55%;
}

.r5mMenu__main__item:hover .r5mMenu__main__submenu {
  display: block;
}

.r5mMenu__main__submenu {
  position: absolute;
  top: 100%;
  left: 15px;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #252525;
  border-top: 5px solid #ffffff;
}

.r5mMenu__main__submenu:hover {
  display: block;
}

.r5mMenu__main__submenu__item__link {
  width: 380px;
  padding: 10px;
  text-align: left;
  white-space: normal;
  color: #E9E9E9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.r5mMenu__main__submenu__item {
  border-bottom: 1px dashed #dbdbdb;
}

.r5mMenu__main__submenu__item:last-of-type {
  border-bottom: none;
}

.navigation__mobile__container {
  display: none;
}
