.header__menu {
  clear: both;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  text-align: center;
  background-color: #252525;
}

.menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}

.menu__item {
  position: relative;
  float: left;
}

.menu__link,
.submenu_jobtypes__link {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link {
  padding: 10px 25px;
  color: #dadada;
}

.menu__link:hover,
.submenu_jobtypes__link:hover {
  color: #fefefe;
}

.menu__link_submenu {
  background-image: url("../images/menu_arrow.png");
  background-repeat: no-repeat;
  background-position: 94% 55%;
}

.menu__item:hover .menu__submenu {
  display: block;
}

.submenu_jobtypes {
  position: absolute;
  top: 120%;
  left: 15px;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #252525;
  border: 1px solid #dbdbdb;
}

.submenu_jobtypes:hover {
  display: block;
}

.submenu_jobtypes__link {
  width: 380px;
  padding: 10px;
  text-align: left;
  color: #E9E9E9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.submenu_jobtypes__item {
  border-bottom: 1px dashed #dbdbdb;
}

.submenu_jobtypes__item:last-of-type {
  border-bottom: none;
}
