@media (max-width: 600px) {

  .header {
    margin: 0;
    padding: 0 15px;
    background-image: url("../../images/header_background_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__container {
    position: relative;
    padding-top: 65px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*background-image: url("../../images/header_background_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    background: none;
  }

  .header__logo {
    float: none;
    position: relative;
    display: block;
    width: 130px;
    margin: 0 auto;
    z-index: 2;
  }

  .header-wrapper {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 0;
  }

  .header-wrapper_top {
    margin-bottom: 20px;
  }

  .header-wrapper_bottom {
    margin-bottom: 20px;
  }

  .header__headline-container_main,
  .header__headline-container_sub {
    float: none;
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 20px 0 20px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
  }

  .header__headline {
    font-size: 1.45rem;
    font-weight: normal;
  }

  .header__headline_sub {
    font-size: 1.1rem;
  }

  .header__headline-container_sub_mobile {
    position: relative;
    display: block;
    width: 100%;
    margin: 20px 0 25px;
    text-align: center;
  }

  .background_mobile {
    position: absolute;
    top: -1000%;
    left: -15px;
    bottom: -16px;
    right: -15px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .feedback__details-container {
    display: block;
    width: 100%;
    position: static;
    background-color: ;
  }

  .header__headline-container_sub,
  .feedback__workhours {
    display: none;
  }

  .header__subheadline_mobile {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
  }

  .feedback__text {
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
  }

  .feedback__phone {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.05em;
    font-weight: bold;
  }

  .feedback__workhours_mobile {
    display: block;
    margin-top: 10px;
    text-align: center;
  }

  .feedback__buttons-container {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    font-weight: bold;
  }

}
